extends layout

block main
	main.collection
		each project in projects
			if project
				a.overview(href=project.url): article
					img.image(src=project.url + project.thumbnail)
					.text
						h1= project.title
						if project.date
							.annotation= project.date.getFullYear()
						if project.dates
							.annotation= project.dates[0].getFullYear() + '–' + project.dates[project.dates.length-1].getFullYear()
						if project.annotations
							each annotation in project.annotations
								.annotation= annotation
						if typeof project.description === 'string'
							p= project.description
						else if Array.isArray(project.description)
							each desc in project.description
								p= desc
